extends layout

block content
    // content
    .content
        // Main hero unit
        .hero-unit
            h1 Hello, world!
            p Thanks for coming to my site and checking out my work. In the featurettes below, you'll see a cross-section of my work from beginning to end.
        // featurette section wrapper
        .container.marketing
            // START THE FEATURETTES
            .featurette
                img(class="featurette-image pull-right", src="images/oldSiteScreenshot.png", style="border-radius: 100%; border: 5px solid #ccc;")
                h2.featurette-heading My First Website - 
                    span.muted Thank you Head First.
                p.lead That's right. Several years ago, I decided to learn how to make web pages, went out, bought a book, and started making web pages. After getting the hang of HTML and CSS, Javascript/jQuery were next.  This site is built with Node.js, Express, and Jade, but I've also worked with PHP and Ruby on Rails.
    
            hr.featurette-divider
    
            .featurette
                a(href="http://tsr.tv", target="_blank")
                    img(class="featurette-image pull-left", src="images/tsrScreenshot.png", style="border-radius: 100%; border: 5px solid #ccc;")
                h2.featurette-heading The Silk Road - 
                    span.muted One of the Coolest.
                p.lead Well, it could have been, at least. The graphic artist, Colin Owen Griffith, had a really cool vision for how the page should look and feel. It was an amazing experience taking his ideas and trying to turn them into code.  However, the owners of the site decided that a more generic WordPress theme was what they really wanted. You can click the picture to see the WordPress site I built according to their specifications.
    
            hr.featurette-divider
    
            .featurette
                a(href="http://drjung.info", target="_blank")
                    img(class="featurette-image pull-right", src="images/drjung.png", style="border-radius: 100%; border: 5px solid #ccc;")
                h2.featurette-heading Dr. Jung's - 
                    span.muted Several Firsts.
                p.lead First and foremost, this was my best favicon EVER!!! Dr. Jung's Offline Courses needed a way to have students get their homework assignments and write their responses. I no longer work with Dr. Jung, so this site is barely functional. I think it is interesting, though, because I made a way for students to write their responses, which were then automatically converted to editable files in the students' individual folders. Click the picture and "Mon/Wen/Fri Homework" to see what I mean.
    
            hr.featurette-divider
            